extends layout

block content
    h1.text-center
        | About
        span.tuneActiveAbout Tune Active

    button(type='button', onclick='/search') Test

    a(href="/search") Click here to search (or maybe get redirected)

    hr
    p
        | Tune Active is an app developed by a group of students at Boston University in the CS411 Software Engineering course.
    hr
    h2 Meet the team
    hr
    li
        | Justin Ingwersen
    li
        | Rebecca Arce
    li
        | Tyler Correll
    li
        | Ali Kinay
