extends layout

block content
    .container
        h1.text-center.homeHeader Tune Active
        br
        .row
            .col-md-6
                button.home-button.playlist-button(href='/playlist.html')
                    i.fas.fa-bolt
                    br
                    |                 Create Playlist
            .col-md-6
                button.home-button.tags-button
                    i.fas.fa-clipboard-list
                    br
                    |                 Manage Tags

