extends layout

block content
    h1.text-center.homeHeader.subHeader Manage Your Tags
    hr

    .row
        .col-md-7
            button(onclick='search()').searchIcon
                i.fas.fa-search
            input#searchField(type='text' placeholder='Search for a song').searchBox
        .col-md-5.limitInput
            h2.numResultsHeader <i class="fas fa-hashtag"></i> (1-50)
            input#limitField(type='text' placeholder='Default: 10').limitBox

    hr

    #searchResults


    script(type='text/javascript').


        var search = function () {
            var mysearchfield = $('#searchField').val();
            var mylimitfield = $('#limitField').val();
            if (mysearchfield === '') {
                alert("Did not enter anything into field");
            } else {
                console.log("About to search " + mysearchfield);
                /*
                $.post('/search', {queryVal: mysearchfield, success: function(data) {
                    console.log(data.message);
                    window.location.href = "/tags";
                }});
                */
                $.ajax({
                    type: "POST",
                    url: "/search",
                    data: {queryVal: mysearchfield, limitVal: mylimitfield},
                    success: function (data) {
                        var searchArr = data.searchResults;
                        var result = "<h2 class='searchHeader'>Search Results:</h2><hr><ul>";

                        console.log(searchArr);

                        for (var i = 0; i < searchArr.length; i++) {
                            var songName = searchArr[i][0], artistName = searchArr[i][1], songId = searchArr[i][2], songDur = searchArr[i][3];
                            result += "<input type='checkbox' name='songTitles' value=" + songId + "," + songDur + " class='songCheckBox'> <span class='artistName'>";
                            result += artistName + " - </span><span class='songName'>" + songName + "</span></br>";
                        }
                        result += "</ul>";
                        result += "<hr><h2 class='searchHeader'>Select your Intensity</h2><select id='dropdown'>";
                        result += "<option value='High Intensity'>High Intensity</option><option value='Medium Intensity'>Medium Intensity</option><option value='Low Intensity'>Low Intensity</option>";
                        result += "</select></br></br><div class='btnSection'><button onclick='addSongs()' class='addSongBtn'><i class=\"fas fa-plus\"></i> Add Songs</button></div>";
                        console.log(result);

                        document.getElementById('searchResults').innerHTML = result;
                    } /*,
                    error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                    }*/
                });
            }
        }

        var addSongs = function () {
            var songsToAdd = [];
            var mydropdown = document.getElementById('dropdown');

            $("input:checkbox[name=songTitles]:checked").each(function () {
                songsToAdd.push($(this).val());
            });

            if (songsToAdd.length === 0) {
                alert("Did not select any songs");
            } else {
                console.log(songsToAdd);
                $.post('/update', {
                    songIds: songsToAdd, tag: mydropdown.value, success: function () {
                        window.location.href = "/tags";
                    }
                });
            }

        };
