extends layout

block content
    h1.text-center Tags Page

    select#dropdown
        option(value='High Intensity') High Intensity
        option(value='Medium Intensity') High Intensity
        option(value='Low Intensity') Low Intensity

    a(href='/search') Click here to search

    br
    br

    if typeof(songs) !== 'undefined'
        h3.text-left Search results:

        form(name='searchRes')
        ul
            each val in songs
                input(type='checkbox' name='songTitles' value=val[2])
                |  #{val[0]} by #{val[1]}
                br
        br
        button(onclick="addSongs()") Add Songs

    if typeof(ids) !== 'undefined'
        h3.text-left Selections:

        ul
            each sId in ids
                li=sId


    script(type='text/javascript').
        var mydropdown = document.getElementById('dropdown');

        var addSongs = function () {
            //var songsToAdd = ['Test', 'Hey'];
            //$.post('/update', {songIds: songsToAdd, tester: 5});

            var songsToAdd = [];
            $("input:checkbox[name=songTitles]:checked").each(function () {
                songsToAdd.push($(this).val());
            });

            console.log(songsToAdd);
            $.post('/update', {songIds: songsToAdd, tag: mydropdown.value, success: function () { window.location.href = "/tags"; }});

        };
