extends layout

block content
    h1.text-center
        | About
        span.tuneActiveAbout  Tune Active

    hr
    .row
        .col-md-2
        .col-md-8
            p.aboutText
                | Tune Active is an app developed by a group of students at Boston University in the CS411 Software Engineering course.
                | First, use the Manage Tags tab to add songs and a corresponding 'tag' element to the database.
                | Next, use the Create Playlist tab to enter in amounts of time and a corresponding tag for each section, and then
                | generate your playlist.
    hr
    h2.searchHeader Meet the team
    hr
    .row
        .col-md-6.profile
            img(src="/images/AliProfile.jpg" width='100%' height='50%').aboutImg.ali
            h1.aboutName Ali Kinay
            h3.aboutTitle CEO
        .col-md-6.profile
            img(src="/images/JustinProfile.png").aboutImg
            h1.aboutName Justin Ingwersen
            h3.aboutTitle Senior Architect
    br
    br
    .row
        .col-md-6.profile
            img(src="/images/TylerProfile.jpeg" width='100%' height='50%').aboutImg.tyler
            h1.aboutName Tyler Correll
            h3.aboutTitle Principal Software Engineer
        .col-md-6.profile
            img(src="/images/RebeccaProfile.jpg").aboutImg.rebecca
            h1.aboutName Rebecca Arce
            h3.aboutTitle Principal Data Engineer
