extends layout

block content
    h1.text-center.homeHeader Tune Active
    hr
    .row
        .col-md-6
            a.home-button(href='/playlist')
                i.fas.fa-bolt
                br
                | Create Playlist
        .col-md-6
            a.home-button(href='/tags')
                i.fas.fa-clipboard-list
                br
                | Manage Tags


