extends layout

block content
    h1.text-center.homeHeader.subHeader Generate a Playlist
    hr

    #slider
        .btnSliderSection
            button.addSliderBtn(onclick='addSlider()')
                i.fas.fa-plus
                |  Add Exercise
        br
        br

        select#dropdown1
            option(value='High Intensity') High Intensity
            option(value='Medium Intensity') Medium Intensity
            option(value='Low Intensity') Low Intensity
        p.minutes
            | Minutes:
            span#numMins1.val

        input#myRange1.slider(type='range' min='1' max='30' value='15')

    #results

    br
    br
    .btnSection
        button.addSongBtn(onclick='generate()')
            i.fas.fa-bolt
            |  Generate


    script.
        var count = 1;
        var slider = document.getElementById("myRange1");
        var output = document.getElementById("numMins1");
        output.innerHTML = slider.value; // Display the default slider value
        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }

        var addSlider = function() {
            count += 1;
            var newSlider = "</br></br><select id='dropdown" + count + "' class='dropDownAdj'>";
            newSlider += "<option value='High Intensity'>High Intensity</option><option value='Medium Intensity'>Medium Intensity</option><option value='Low Intensity'>Low Intensity</option>";
            newSlider += "</select><p class='minutes'>Minutes: <span id='numMins" + count + "' class='val'></span></p>";
            newSlider += "<input id='myRange" + count + "' class='slider' type='range' min='1' max='30' value='15'>";

            $('#slider').append(newSlider);

            var newSlider = document.getElementById("myRange" + count);
            var newOutput = document.getElementById("numMins" + count);
            newOutput.innerHTML = newSlider.value;

            newSlider.oninput = function () {
                newOutput.innerHTML = this.value;
            }

        }

        var generate = function() {
            $('#slider').hide();
            var result = [];

            for(var i = 1; i < count + 1; i++) {
                console.log(document.getElementById('dropdown' + i));
                var tagVal = document.getElementById('dropdown' + i).value;
                var minuteVal = document.getElementById('numMins' + i).innerHTML;

                result.push([tagVal, minuteVal]);
            }

            console.log(result);

            $.ajax({
                type: "POST",
                url: "/generate",
                data: {sliderVals: result},
                success: function (data) {
                    /*
                    var searchArr = data.searchResults;
                    var result = "<h2 class='searchHeader'>Search Results:</h2><hr><ul>";

                    console.log(searchArr);

                    for (var i = 0; i < searchArr.length; i++) {
                        var songName = searchArr[i][0], artistName = searchArr[i][1], songId = searchArr[i][2], songDur = searchArr[i][3];
                            result += "<label>";
                            result += "<input type='checkbox' name='songTitles' value=" + songId + "," + songDur + " class='songCheckBox'>   ";
                            result += "<iframe src='https://open.spotify.com/embed/track/" + songId + " width='300' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>";
                            result += "</label></br>"
                            //result += "<span class='artistName'>" + artistName + " - </span><span class='songName'>" + songName + "</span></br>";
                    }
                    result += "</ul>";
                    result += "<hr><h2 class='searchHeader'>Select your Intensity</h2><select id='dropdown'>";
                    result += "<option value='High Intensity'>High Intensity</option><option value='Medium Intensity'>Medium Intensity</option><option value='Low Intensity'>Low Intensity</option>";
                    result += "</select></br></br><div class='btnSection'><button onclick='addSongs()' class='addSongBtn'><i class=\"fas fa-plus\"></i> Add Songs</button></div>";
                    console.log(result);

                    document.getElementById('searchResults').innerHTML = result;
                    */
                    console.log(data.playlistSongs);
                } /*,
                    error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }*/
            });
        }