extends layout

block content
    h1.text-center.homeHeader.subHeader Should You Run?
    hr

    .row
        button(onclick='search()').searchIcon
            i.fas.fa-city
        input#searchField(type='text' placeholder='Enter your city name').searchBox

    hr

    #weatherResults

    script(type='text/javascript').

        var search = function () {
            var mysearchfield = $('#searchField').val();

            if (mysearchfield === '') {
                alert("Did not enter anything into field");
            } else {
                console.log("About to search " + mysearchfield);

                $.ajax({
                    type: "POST",
                    url: "/citySearch",
                    data: {queryVal: mysearchfield},
                    success: function (data) {
                        var searchArr = data.weatherResults;
                        var result = "<h2 class='searchHeader'>Weather Results:</h2><hr>";

                        console.log("searchArr is:",searchArr);

                        var temperature = searchArr[0], skytext = searchArr[1], humidity= searchArr[2], wind = searchArr[3], suggestion = searchArr[4];

                        result += "<p class='weatherLabel'>Current Temperature is <span class='weatherValue'>" + temperature + "°F.</span></p>";
                        result += "<p class='weatherLabel'>The sky is <span class='weatherValue'>" + skytext.toLowerCase() + ".</span></p>";
                        result += "<p class='weatherLabel'>The humidity level is <span class='weatherValue'>" + humidity + "%.</span></p>";
                        result += "<p class='weatherLabel'>The wind speed is <span class='weatherValue'>" + wind + ".</span></p><hr>";

                        result += "<h2 class='suggestion'>Our Suggestion:</h2>";
                        result += "<h2 class='suggestionContent'>" + suggestion + "</h2>";

                        console.log(result);

                        document.getElementById('weatherResults').innerHTML = result;

                    } /*,

                    error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)

                    }*/
                });
            }
        }



