extends layout

block content
    h1.text-center.homeHeader.subHeader Should You Run?
    hr

    .row
        button(onclick='search()').searchIcon
            i.fas.fa-city
        input#searchField(type='text' placeholder='Enter your city name').searchBox

    hr

    #weatherResults

    script(type='text/javascript').

        var search = function () {
            var mysearchfield = $('#searchField').val();

            if (mysearchfield === '') {
                alert("Did not enter anything into field");
            } else {
                console.log("About to search " + mysearchfield);

                $.ajax({
                    type: "POST",
                    url: "/citySearch",
                    data: {queryVal: mysearchfield},
                    success: function (data) {
                        var searchArr = data.weatherResults;
                        var result = "<h2 class='searchHeader'>Weather Results:</h2>";

                        console.log("searchArr is:",searchArr);

                        var temperature = searchArr[0], skytext = searchArr[1], humidity= searchArr[2], wind = searchArr[3];

                        result += "<p>Current Temperature is:</p>";
                        result += temperature;
                        result += "<p>The sky is: </p>";
                        result += skytext;
                        result += "<p>Humidity is:</p>";
                        result += humidity;
                        result += "<p>Wind Speed is:</p>";
                        result += wind;

                        console.log(result);

                        document.getElementById('weatherResults').innerHTML = result;

                    } /*,

                    error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)

                    }*/
                });
            }
        }



