body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 100px;
}

a {
  color: white;
}


/*
  Navigation Bar Styles
 */

.logo {
  border-radius: 10px;
}

.navStyle {
  font-family: "Georgia", Arial;
  background-color: midnightblue;
  line-height: 150px;
  height: 95px;
  align-content: center;
}
.navLink {
  padding: 20px;
  font-size: 20px;
}

#navList a:hover {
  background-color: white;
  border-radius: 30px;
}

.active-page {
  background-color: white;
  border-radius: 30px;
}

/*
  Home Page
 */

.home-button {
  border-radius: 60px;
  border-style: solid;
  font-size: 50px;
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
}

.home-button i{
  font-size: 100px;
  padding-bottom: 50px;
}

.home-button:hover {
  border-width: 10px;
}

.playlist-button {
  background-color: forestgreen;
  color: white;
  border-color: forestgreen;
}

.playlist-button:hover {
  background-color: white;
  color: forestgreen;
}

.tags-button {
  background-color: darkorange;
  color: white;
  border-color: darkorange;
}

.tags-button:hover {
  background-color: white;
  color: darkorange;
}

.homeHeader {
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
}

/*
  About Page
 */

.tuneActiveAbout {
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
}
